h1 {
  text-align: center;
}

body {
  background-color: #eee;
}

.container {
  width: 960px;
  height: 100%;
  margin: 60px auto;
  position: relative;
}

img {
  position: absolute;
  padding: 10px 10px 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  transition: transform .3s ease;
}

img:hover {
  -webkit-transform: rotate(0deg) scale(0.6);
  -moz-transform: rotate(0deg) scale(0.6);
  transform: rotate(0deg) scale(0.6);
  box-shadow: 10px 10px 15px #ccc;
  z-index: 2;
}

.p1 {
  top: 200px;
  left: 300px;
  -webkit-transform: rotate(-5deg) scale(0.3);
  -moz-transform: rotate(-5deg) scale(0.3);
  transform: rotate(-5deg) scale(0.3);
}
.p2 {
  top: -200px;
  left: 0;
  -webkit-transform: rotate(-20deg) scale(0.2);
  -moz-transform: rotate(-20deg) scale(0.2);
  transform: rotate(-20deg) scale(0.2);
}
.p3 {
  top: 0;
  right: 200;
  -webkit-transform: rotate(5deg) scale(0.3);
  -moz-transform: rotate(5deg) scale(0.3);
  transform: rotate(5deg) scale(0.3);
}
.p4 {
  bottom: 0;
  left: 300px;
  -webkit-transform: rotate(-10deg) scale(0.3);
  -moz-transform: rotate(-10deg) scale(0.3);
  transform: rotate(-10deg) scale(0.3);
}
.p5 {
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(-10deg) scale(0.3);
  -moz-transform: rotate(-10deg) scale(0.3);
  transform: rotate(-10deg) scale(0.3);
}
.p6 {
  top: 0;
  left: 0;
  -webkit-transform: rotate(10deg) scale(0.3);
  -moz-transform: rotate(10deg) scale(0.3);
  transform: rotate(10deg) scale(0.3);
}
.p7 {
  top: 100px;
  left: -85px;
  -webkit-transform: rotate(20deg) scale(0.3);
  -moz-transform: rotate(20deg) scale(0.3);
  transform: rotate(20deg) scale(0.3);
}
.p8 {
  top: -20px;
  left: 630px;
  -webkit-transform: rotate(45deg) scale(0.3);
  -moz-transform: rotate(45deg) scale(0.3);
  transform: rotate(45deg) scale(0.3);
}
.p9 {
  top: 90px;
  left: 550px;
  -webkit-transform: rotate(15deg) scale(0.3);
  -moz-transform: rotate(15deg) scale(0.3);
  transform: rotate(15deg) scale(0.3);
}
.p10 {
  top: 180px;
  left: 20px;
  -webkit-transform: rotate(-10deg) scale(0.3);
  -moz-transform: rotate(-10deg) scale(0.3);
  transform: rotate(-10deg) scale(0.3);
}
.p11 {
  top: 140px;
  left: 550px;
  -webkit-transform: rotate(-25deg) scale(0.3);
  -moz-transform: rotate(-25deg) scale(0.3);
  transform: rotate(-25deg) scale(0.3);
}
.p12 {
  top: 130px;
  left: 370px;
  -webkit-transform: rotate(68deg) scale(0.3);
  -moz-transform: rotate(68deg) scale(0.3);
  transform: rotate(68deg) scale(0.3);
}
.p13 {
  top: 150px;
  left: -250px;
  -webkit-transform: rotate(48deg) scale(0.3);
  -moz-transform: rotate(48deg) scale(0.3);
  transform: rotate(48deg) scale(0.3);
}
.p14 {
  top: -103px;
  left: 290px;
  -webkit-transform: rotate(28deg) scale(0.3);
  -moz-transform: rotate(28deg) scale(0.3);
  transform: rotate(28deg) scale(0.3);
}